<div class="container mt-2">
  <h1 style="text-align: center; font-family: 'Poppins', sans-serif; color: black; font-size: 40px; padding: 20px;font-weight:Bold">
    Event List</h1>

  <!-- Search form -->
  <div class="form-group">
    <div class="card">
			<h5>Search By Location</h5>
			<div class="grid formgrid">
      <span class="p-input-icon-left p-input-icon-right mr-2">
        <i class="pi pi-map"></i>
        <input type="text" pInputText placeholder="Search" id="locationSearch" [(ngModel)]="searchLocation">
      </span>
    <div class="inline-flex">
      <button pButton pRipple type="button" label="" class="p-button-rounded p-button-success p-button-outlined  mr-2"  icon="pi pi-search" style=" color:orangered; " (click)="filterEvents()" ></button>
      <button pButton pRipple type="button" label="" class="p-button-rounded p-button-success p-button-text  mr-2"  icon="pi pi-refresh"style="color :black "  (click)="refreshEvents()" ></button>
      <button pButton pRipple type="button" label="Add" class="p-button-rounded p-button-success p-button-text mr-2"  icon="pi pi-plus"  (click)="GoEvent()"style="color:black " ></button>
      <button pButton pRipple type="button" label="Approve Event" class="p-button-rounded p-button-success p-button-text  mr-2"  icon="pi pi-th-large"  (click)="GoToCard()" style=" color:green " ></button>
      <button pButton pRipple type="button" label="Calender" class="p-button-rounded p-button-success p-button-text mr-2" style=" color:black " icon="pi pi-calendar"  (click)="GoToEventSchedular()" ></button>
      <button pButton pRipple type="button" label="Past Event" class="p-button-rounded p-button-success p-button-text" style=" color:orangered"  icon="pi pi-calendar-minus" (click)="GoToPastEvent()" ></button>


    </div>
  </div>
</div>

  </div>



  <!-- Event Table -->
  <p-table 
  [value]="filteredEvents"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="date" style="width: 150px;">Date<p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="banner" style="width: 200px;">Banner<p-sortIcon field="banner"></p-sortIcon></th> <!-- Corrected closing tag -->
        <th pSortableColumn="category">Category<p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="location" style="width: 120px;">Location<p-sortIcon field="location"></p-sortIcon></th>
        <th pSortableColumn="price" style="width: 100px;">Price<p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
        <th  style="width: 200px;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr>
        <td>{{ event.idEvent }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date | date }}</td>
        <td style="width: 200px;">
          <!-- Banner Image inside the correct cell -->
          <img [src]="event.bannerUrl || 'assets/default-image.jpg'" style="width: 100%; height: auto;" alt="Banner for {{ event.name }} " >
        </td>
        <td>{{ event.category }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.price | currency }}</td>
        <td>{{ event.status }}</td>
        <td  style="width: 200px;">
          <button pButton pRipple type="button" pButton label="" icon="pi pi-eye" class="p-button-rounded p-button-primary p-button-outlined mr-2 custom-hover-button" (click)="viewEvent(event.idEvent)" ></button>
          <button pButton pRipple type="button" pButton label="" icon="pi pi-pencil"  class="p-button-rounded p-button-success p-button-outlined mr-2 custom-hover-buttonn" (click)="updateEvent(event.idEvent)"   ></button>
          <button pButton pRipple type="button"  pButton label="" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined custom-hover-buttonnn" (click)="deleteEvent(event.idEvent)"  ></button>


        </td>
      </tr>
    </ng-template>
  </p-table>


</div>

<p-dialog [(visible)]="displayDialog" [style]="{'width': '50vw'}" [header]="selectedEvent?.name" modal="true" closable="true" [contentStyle]="{'overflow':'hidden'}" class="event-dialog">
  <div *ngIf="selectedEvent" class="event-content">
      <img [src]="selectedEvent.bannerUrl || 'assets/default-image.jpg'" alt="Banner" style="width:100%">
      <h3 style="font-family: 'Arial', sans-serif;" >{{ selectedEvent.location }}</h3>
      <h4 style="font-family: 'Arial', sans-serif;">{{ selectedEvent.price | currency }}</h4>
      <h4 style="font-family: 'Arial', sans-serif;"><small>{{ selectedEvent.date | date:'fullDate' }}</small></h4>
      <h5 style="font-family: 'Arial', sans-serif;">{{ selectedEvent.description }}</h5>
      <p style="font-family: 'Arial', sans-serif;">{{ selectedEvent.category }}</p>
      <p style="font-family: 'Arial', sans-serif;">{{ selectedEvent.location }}</p>
  </div>
</p-dialog>