<div class="dotContentContainer">

  <div *ngIf="selectedDot$ | async as selectedDot">

    <div class="dotInspectHeader">
      <div class="leftSection">
        <div class="dotDate">
          <i class="fa-regular fa-calendar-days"></i>
          <span>
            {{selectedDot?.eventDate | date: 'dd/MM/yyyy'}}
          </span>
        </div>



      </div>

      <div class="rightSection">
        <div class="dotTime">
          <i class="fa-regular fa-clock"></i>
          <span>
            {{selectedDot?.eventDate | date: 'HH:mm'}}
          </span>
        </div>
      </div>



    </div>






    <div [innerHtml]="selectedDot?.dotMarkdown" class="dotContent"></div>



    <p-carousel #carousel *ngIf="imageLinks.length > 0" [value]="imageLinks" [numVisible]="1" [numScroll]="1"
      [circular]="false">
      <ng-template let-item pTemplate="item">
        <p-image (click)="imageInspect($event)" [src]="item.itemImageSrc" alt="Image" width="100%" />

      </ng-template>
    </p-carousel>






  </div>
