$color-happy: #5ff4c8;
$color-sad: #a4c3fc;
$color-loving: #ffc0cb;
$color-angry: #ef5b5b;
$color-grateful: #f4d95f;

$background-happy: rgba($color-happy, .15);
$background-sad: rgba($color-sad, .15);
$background-loving: rgba($color-loving, .15);
$background-angry: rgba($color-angry, .15);
$background-grateful: rgba($color-grateful, .15);

$black3: #353535;
$bgWhite: #eee;
$white: #ffffff;

$black2: #282828;
$selectedBg: #f4f4f4;

$black0: #000000;

