<div class="rightPanel fixed right-0 h-full flex align-items-center z-1 transition-duration-300 transition-ease-in-out">
    <div class="rightPanelContent surface-50 w-full shadow-2 flex flex-column border-round-lg mx-4">
        <div class="titleSection flex justify-content-between align-items-center p-3">
            <h2 class="text-2xl font-bold text-gray-800">Create new dot</h2>
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Delete dot"
                tooltipPosition="top"></button>
        </div>
        <div class="contentSection">

        </div>
    </div>
</div>
