<p-dialog header="Create new dot" [closable]="false"
    [breakpoints]="{'440px': '70vw', '1080px': '50vw', '1600px': '40vw'}" [resizable]="true"
    [(visible)]="rightPanelOpen" position="right" [style]="{ width: '25vw', overflow: 'hidden' }">

    <lifeline-dot-form></lifeline-dot-form>
</p-dialog>

<!-- <div *ngIf="(lifelineStateService.rightPanelOpen$ | async);" [@slideInOut] -->
<!--     class="panelContentWrapper fixed top-0 right-0 w-min h-screen "> -->
<!--     <div -->
<!--         class="rightPanel fixed right-0 top-0 h-full flex align-items-center z-1 transition-duration-300 transition-ease-in-out"> -->
<!--         <div class="rightPanelContent surface-50 w-full shadow-2 flex flex-column border-round-lg mx-4"> -->
<!--             <lifeline-dot-form></lifeline-dot-form> -->
<!---->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
