<main id="lobby-container">
    <div id="form-container">
        <div id="form__container__header">
            <p>👋 Create OR Join a Room</p>
        </div>

        <div id="form__content__wrapper">
            <form id="join-form" (ngSubmit)="joinRoom()">
                <input type="text" id="inviteCode" [ngModelOptions]="{ standalone: true }" required  [ngModel]="inviteCode"  />
                <input type="submit" value="Join Room" />
            </form>
        </div>
    </div>
</main>
