<p-dialog header="Settings" [(visible)]="settingsPanelOpen" [draggable]="true" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [resizable]="false" (onHide)="onHide()" (onShow)="onShow">

    <div class="contentWrapper w-full flex">
        <div class="sidebar">
            <p-listbox [options]="settingsTabs" [(ngModel)]="selectedTab" optionLabel="label"
                [style]="{ width: '15rem', border: 'none', outline:'none' }"
                [listStyle]="{'max-height': '220px'}"></p-listbox>

        </div>

        <div class="contentSection flex flex-column gap-3 flex-1 p-5">
            <div class="option flex justify-content-between">
                <span>Enable push notifications</span>

                <p-inputSwitch [(ngModel)]="settings.general.pushNotification"></p-inputSwitch>

            </div>
            <div class="option flex justify-content-between">
                <span>Enable email notifications</span>

                <p-inputSwitch [(ngModel)]="settings.general.emailNotification"></p-inputSwitch>

            </div>
            <div class="option flex justify-content-between">
                <span>Subscribe to our newsletter</span>

                <p-inputSwitch [(ngModel)]="settings.general.subscriptionNewsletter"></p-inputSwitch>

            </div>

        </div>
    </div>
</p-dialog>
