<div class="flex align-items-center gap-2 shadow-2 py-3 px-4">

    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Settings"
        tooltipPosition="top"></button>
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Change Filters"
        tooltipPosition="top"></button>
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Add dot"
        tooltipPosition="top"></button>
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Fast travel"
        tooltipPosition="top"></button>
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" pTooltip="Help"
        tooltipPosition="top"></button>
</div>
