<div class="flex align-items-center gap-2 shadow-2 py-3 px-4 surface-50">

    <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded" pTooltip="Settings"
        tooltipPosition="top" (click)="toggleSettingsPanel()"></button>
    <button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded" pTooltip="Change Filters"
        tooltipPosition="top" #filterBtn (click)="toggleFiltersPanel($event)"></button>
    <button pButton pRipple type="button" icon="pi pi-calendar-plus" class="p-button-rounded" pTooltip="Add dot"
        tooltipPosition="top" (click)="toggleRightPanel()"></button>
    <button pButton pRipple type="button" icon="pi pi-bolt" class="p-button-rounded" pTooltip="Fast travel"
        tooltipPosition="top" #fastTravelBtn (click)="toggleFastTravel($event)">
        <div class="ftPlaceholder absolute top-0 right-0 h-full w-full" #ftPlaceholder>
        </div>
    </button>
    <button pButton pRipple type="button" icon="pi pi-question" class="p-button-rounded" pTooltip="Help"
        tooltipPosition="top"></button>
</div>

<lifeline-fast-travel [appendToSelector]="fastTravelBtn" [event]="fastTravelBtnEvent"></lifeline-fast-travel>
<lifeline-filter-panel [appendToSelector]="filterBtn" [event]="filterPanelBtnEvent"></lifeline-filter-panel>
<lifeline-settings></lifeline-settings>
