<p-overlayPanel #op (onShow)="onPanelShow()" (onHide)="onPanelHide()" [style]="{minWidth: '350px', minHeight: '400px'}">
    <ng-template pTemplate="content">

        <div class="mainWrapper flex flex-column">

            <div class="headerSection justify-content-center">

                <p-splitButton label="Add filter" icon="pi pi-plus" [model]="filterOptions"></p-splitButton>
            </div>
            <div class="contentWrapper p-5 m-3">

                <div class="noFilters min-h-full flex flex-column gap-2 align-items-center justify-content-center">
                    <span class="text-l">No filters applied yet</span>
                    <div class="iconDisplay text-2xl">
                        <i class="fa-solid fa-ban"></i>
                    </div>
                </div>

            </div>
        </div>

    </ng-template>
</p-overlayPanel>
