<div class="p-6">

  <div class="calendarHeader">
    <div class="calendarHeaderContent">

      <h1 class="calendarTitle">{{calendarTitle?.month}}</h1>
      <h3 class="calendarSubtitle">{{calendarTitle?.year}}</h3>
    </div>
    <div class="monthStats">
      <div class="statGroup flex align-items-center happyStats relative">

        <p-knob #happyRateKnob [readonly]="true" strokeWidth="5" valueTemplate="" valueColor="#5ff4c8" />
        <button pButton pRipple type="button" icon="fa-regular fa-face-laugh-beam" disabled
          class="p-button-rounded p-button-text btnHappy btnCenter" [style]="{fontSize: '4rem'}"></button>

      </div>

      <div class="statGroup flex align-items-center happyStats relative">

        <p-knob #happyRateKnob [readonly]="true" strokeWidth="5" valueTemplate="" valueColor="#5ff4c8" />
        <button pButton pRipple type="button" icon="fa-regular fa-face-frown-open" disabled
          class="p-button-rounded p-button-text btnSad btnCenter" [style]="{fontSize: '4rem'}"></button>

      </div>

      <div class="statGroup flex align-items-center happyStats relative">

        <p-knob #happyRateKnob [readonly]="true" strokeWidth="5" valueTemplate="" valueColor="#5ff4c8" />
        <button pButton pRipple type="button" icon="fa-regular fa-face-grin-hearts" disabled
          class="p-button-rounded p-button-text btnLoving btnCenter" [style]="{fontSize: '4rem'}"></button>

      </div>

      <div class="statGroup flex align-items-center happyStats relative">

        <p-knob #happyRateKnob [readonly]="true" strokeWidth="5" valueTemplate="" valueColor="#5ff4c8" />
        <button pButton pRipple type="button" icon="fa-regular fa-face-smile-beam" disabled
          class="p-button-rounded p-button-text btnGrateful btnCenter" [style]="{fontSize: '4rem'}"></button>

      </div>

      <div class="statGroup flex align-items-center happyStats relative">

        <p-knob #happyRateKnob [readonly]="true" strokeWidth="5" valueTemplate="" valueColor="#5ff4c8" />
        <button pButton pRipple type="button" icon="fa-regular fa-face-angry" disabled
          class="p-button-rounded p-button-text btnAngry btnCenter" [style]="{fontSize: '4rem'}"></button>

      </div>
    </div>
  </div>

  <div class="calendarContentContainer flex w-full align-items-center gap-5">

    <div class="leftHandle">
      <button pButton pRipple type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-text navigationBtn"
        (click)="seekLeft()"></button>
    </div>

    <full-calendar #calendar style="flex: 1;" [options]="calendarOptions" [events]="events">
      <ng-template #eventContent let-arg>
        <!--content here for the event template-->
        <div [attr.data-id]="arg.event.extendedProps.idDot" class="eventContent" #selector
          (mouseover)="onEventHover(true,selector,$event, arg.event.extendedProps)" (mouseout)="onEventHover(false)"
          (click)="showDotDetails(arg.event.extendedProps)">
          <div class="dotDisplay" [ngClass]="arg.event.extendedProps.emotionType+ '_dot'"></div>


        </div>

      </ng-template>

    </full-calendar>

    <div class="rightHandle">
      <button pButton pRipple type="button" icon="pi pi-angle-right"
        class="p-button-rounded p-button-text navigationBtn" (click)="seekRight()"></button>
    </div>
  </div>

  <lifeline-dot-inspect></lifeline-dot-inspect>



</div>
