<div class="p-6">

    <div class="calendarHeader">
        <h1 class="calendarTitle">{{calendarTitle?.month}}</h1>
        <h3 class="calendarSubtitle">{{calendarTitle?.year}}</h3>
    </div>

    <div class="calendarContentContainer flex w-full align-items-center gap-5">

        <div class="leftHandle">
            <button pButton pRipple type="button" icon="pi pi-angle-left"
                class="p-button-rounded p-button-text navigationBtn" (click)="seekLeft()"></button>
        </div>

        <full-calendar #calendar style="flex: 1;" [options]="calendarOptions" [events]="events">
            <ng-template #eventContent let-arg>
                <!--content here for the event template-->
                <div [attr.data-id]="arg.event.extendedProps.idDot" class="eventContent" #selector
                    (mouseover)="onEventHover(true,selector,$event, arg.event.extendedProps)"
                    (mouseout)="onEventHover(false)">
                    <div class="dotDisplay" [ngClass]="arg.event.extendedProps.emotionType+ '_dot'"></div>


                </div>

            </ng-template>

        </full-calendar>

        <div class="rightHandle">
            <button pButton pRipple type="button" icon="pi pi-angle-right"
                class="p-button-rounded p-button-text navigationBtn" (click)="seekRight()"></button>
        </div>
    </div>

    <lifeline-dot-inspect></lifeline-dot-inspect>



</div>
