<div class="tabs" >
    <a class="tab stats-tab" routerLink="stats" routerLinkActive="selected" (click)="handleClickStats()" >
        <div class="tab-tile">
            <i class="material-symbols-outlined">
                donut_small
            </i>
        </div>
    </a>
    <a class="tab measure-tab" routerLink="lifeVital" routerLinkActive="selected" (click)="handleClickMeasure()">
        <div class="tab-tile">
            <i class="material-symbols-outlined">
                add_chart
            </i>
        </div>
    </a>
    <a class="tab duo-tab" routerLink="telehealth" routerLinkActive="selected" (click)="handleClickDuo()">
        <div class="tab-tile">
            <i class="material-symbols-outlined">
                Duo
            </i>
        </div>
    </a>
</div>
