

<div class="calendar-container">
      <ng-container *ngIf="calendarOptions">
        <full-calendar #calendar [options]="calendarOptions">
          
        </full-calendar>
      </ng-container>
    </div>
    
    
    
    
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
    <p-dialog  [(visible)]="displayDetailsDialog"  [style]="{width: '35vw'}" [contentStyle]="{'padding': '24px'}" [baseZIndex]="1000">
      <h3 style="text-align: center; font-family: 'Poppins', sans-serif; color: #5784BA; font-size: 20px; padding: 5px;font-weight:Bold;">Event Details</h3>
    
      <div style="font-family: 'Arial', sans-serif; color: #333;">
        <div style="text-align: center; margin-bottom: 20px;">
          <img *ngIf="selectedEvent?.bannerUrl" [src]="selectedEvent?.bannerUrl" alt="Event Banner" style="width: 100%; height: auto;" >
    
        </div>
        <h2 style="color: #0056b3; margin-bottom: 12px;">{{ selectedEvent?.name }}</h2>
        <p><strong>Date:</strong> {{ selectedEvent?.date | date:'fullDate' }}</p>
        <p><strong>Start Time:</strong> {{ selectedEvent?.startTime | date:'shortTime' }}</p>
        <p><strong>Category:</strong> {{ selectedEvent?.category | titlecase }}</p>
        <p><strong>Location:</strong> {{ selectedEvent?.location }}</p>
        <p><strong>Price:</strong> ${{ selectedEvent?.price | number:'1.2-2' }}</p>
        <div style="border-top: 1px solid #ccc; padding-top: 10px;">
          <h4 style="color: #0056b3;">Description</h4>
          <p>{{ selectedEvent?.description }}</p>
        </div>
        <div class="form-actions">
            <div class="flex flex-wrap gap-2">
      
            <button pButton type="button" label="Exsit" icon="pi pi-times" (click)="onCancel()" class="p-button-rounded p-button-success p-button-outlined mr-2 btncancel"></button>
          </div>
        </div>
      
      </div>
    </p-dialog>
    </div>
    </div>
    
    <button pButton type="button" label="Go Back" class="p-button-warning mr-3 test3" icon="pi pi-arrow-left" (click)="GoBack()" ></button>
    
    
    
    
    
    
    
    
    
    
    