#form-container{
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color:rgba(black,0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 30px;
  text-align: center;
  background-color:rgba(black,0.7);
  margin: 0;
  font-size: 18px;

  line-height: 0;
}

#form__content__wrapper{
  padding: 20px;
  background-color:rgba(black,0.5);
}

input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color:rgba(black,0.5);
  margin-top: 32px;
}


input[type='submit'] {
  background:linear-gradient(45deg,#f8b5a5,#e2d2fd);

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#videos{
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  overflow:hidden;
}

.video-player{
  background-color: black;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

#user-2{
 display: none;
}

.smallFrame{
  position: fixed;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border:2px solid #b366f9;
  -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
  box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
  z-index: 999;
}


#controls {
  position: absolute;
  top: 90%;
  right: 100px; /* Adjust as needed */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; /* Align buttons in a column */
  gap: 1em;
}

.control-container {
  background-color: rgba(179, 102, 249, 0.9);
  padding: 20px; /* Adjust padding as needed */
  border-radius: 50%;
  cursor: pointer;
}

.control-container img {
  height: 30px;
  width: 30px;
}


i{
  color:#222;
}




#leave-btn{
  background-color: rgb(255,80,80, 1);
}

@media screen and (max-width:600px) {
  .smallFrame{
    height: 80px;
    width: 120px;
  }

  .control-container img{
    height: 20px;
    width: 20px;
  }
}
