.pi {
  font-size: 16px;
  margin-left: 5px;
}



.input-with-icon {
  position: relative;
}
.p-inputNumber{
  padding-right: 30px;
}
.input-with-icon input {
  padding-right: 30px;
}

.hidden {
  display: none;
}
