

<div class="calendar-container">
  <ng-container *ngIf="calendarOptions">
    <full-calendar #calendar [options]="calendarOptions">
      
    </full-calendar>
  </ng-container>
</div>




<div class="grid p-fluid">
  <div class="col-12 md:col-6">
<p-dialog  [(visible)]="displayDetailsDialog"  [style]="{width: '35vw'}" [contentStyle]="{'padding': '24px'}" [baseZIndex]="1000">
  <h3 style="text-align: center; font-family: 'Poppins', sans-serif; color: #5784BA; font-size: 20px; padding: 5px;font-weight:Bold;">Event Details</h3>

  <div style="font-family: 'Arial', sans-serif; color: #333;">
    <div style="text-align: center; margin-bottom: 20px;">
      <img *ngIf="selectedEvent?.bannerUrl" [src]="selectedEvent?.bannerUrl" alt="Event Banner" style="width: 100%; height: auto;" >

    </div>
    <h2 style="color: #0056b3; margin-bottom: 12px;">{{ selectedEvent?.name }}</h2>
    <p><strong>Date:</strong> {{ selectedEvent?.date | date:'fullDate' }}</p>
    <p><strong>Start Time:</strong> {{ selectedEvent?.startTime | date:'shortTime' }}</p>
    <p><strong>Category:</strong> {{ selectedEvent?.category | titlecase }}</p>
    <p><strong>Location:</strong> {{ selectedEvent?.location }}</p>
    <p><strong>Price:</strong> ${{ selectedEvent?.price | number:'1.2-2' }}</p>
    <div style="border-top: 1px solid #ccc; padding-top: 10px;">
      <h4 style="color: #0056b3;">Description</h4>
      <p>{{ selectedEvent?.description }}</p>
    </div>
    <div style="text-align: right; margin-top: 20px;">
      <button pButton type="button" label="Update" icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined mr-2 btnupdate" (click)="openEditDialog(selectedEvent)"></button>

    </div>
  </div>
</p-dialog>
</div>
</div>

<button pButton type="button" label="Go Back" class="p-button-warning mr-3 test3" icon="pi pi-arrow-left" (click)="GoBack()" ></button>


















<div class="grid p-fluid">
  <div class="col-12 md:col-6">
<p-dialog header="Helloo Again!!" [(visible)]="displayAddDialog" [style]="{width: '40vw'}">
  <h3 style="text-align: center; font-family: 'Poppins', sans-serif; color: #5784BA; font-size: 20px; padding: 5px;font-weight:Bold;">Add Event</h3>
  <form [formGroup]="eventForm">
    
    <div class="form-group">
      <div class="field">
        <label for="name" style="font-weight: bold;">Name:</label>
        <input formControlName="name" type="text" pInputText placeholder="Event Name">
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <label for="description" style="font-weight: bold;">Description:</label>
        <textarea formControlName="description" rows="5" cols="30" pInputTextarea placeholder="Event Description"></textarea>
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <label for="date" style="font-weight: bold;">Date:</label>
        <div>
          <span>{{ eventForm.get('date').value | date: 'longDate' }}</span>

        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <label for="location" style="font-weight: bold;">Location:</label>
        <p-autoComplete formControlName="location" 
        [suggestions]="filteredLocations" 
        (completeMethod)="searchLocations($event)" 
        [dropdown]="true"></p-autoComplete>
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <label for="price" style="font-weight: bold;">Price:</label>
        <input formControlName="price" type="number" pInputText placeholder="Price" />
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <label for="category" style="font-weight: bold;">Category:</label>
        <p-dropdown [options]="categories" formControlName="category" placeholder="Select a Category" [showClear]="true"></p-dropdown>
      </div>
    </div>

  <!--
    <div class="form-group">
      <div class="field">
        <label for="status">Status:</label>
        <p-dropdown [options]="statues" formControlName="status" placeholder="Select a Status" [showClear]="true"></p-dropdown>

      </div>
    </div>
  -->
    <div class="form-group">
      <div class="field">
          <label for="banner" style="font-weight: bold;">Banner:</label>
          <div class="file-input-container">
              <span class="file-input-trigger">Choose File</span>
              <input type="file" id="banner" #fileInput (change)="onFileSelection($event)">
              <div class="file-input-name" id="file-name">No file chosen</div>
          </div>
      </div>
  </div>

    <div class="form-actions" > 
      <div class="flex flex-wrap gap-2">
      <button pButton type="button" label="Save" icon="pi pi-check" (click)="onAddEvent(eventForm.value)"  class="p-button-rounded p-button-success p-button-outlined mr-2 btnsave"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="onCancelAdd()" class="p-button-rounded p-button-success p-button-outlined mr-2 btncancel"></button>
       
    </div>
  </div>

  </form>
</p-dialog>
</div>
</div>





<p-dialog header="Confirmation" [(visible)]="confirmationDialog" [modal]="true" [closable]="true" [resizable]="false">
  <p>{{ confirmationMessage }}</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="OK" (click)="confirmationDialog = false"></button>
  </p-footer>
</p-dialog>
























<div class="grid p-fluid">
  <div class="col-12 md:col-6">

<p-dialog header="Helloo Again!!" [(visible)]="displayEditDialog" [style]="{width: '40vw'}">
  <h3 style="text-align: center; font-family: 'Poppins', sans-serif; color: #5784BA; font-size: 20px; padding: 5px;font-weight:Bold;">Edit Event</h3>

  <form [formGroup]="eventForm">

    <div class="form-group">
      <div class="field">
        <label for="name" style="font-weight: bold;">Name:</label>
        <input formControlName="name" type="text" pInputText placeholder="Event Name">
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <label for="description" style="font-weight: bold;">Description:</label>
        <textarea formControlName="description" rows="5" cols="30" pInputTextarea placeholder="Event Description"></textarea>
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <label for="date" style="font-weight: bold;">Date:</label>
        <p-calendar formControlName="date" [showIcon]="true" inputId="icon"></p-calendar>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <label for="location" style="font-weight: bold;">Location:</label>
        <input formControlName="location" pInputText id="location" type="text" />
      </div>
    </div>


    <div class="form-group">
      <div class="field">
        <label for="price" style="font-weight: bold;">Price:</label>
        <input formControlName="price" type="number" pInputText placeholder="Price" />
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <label for="category" style="font-weight: bold;">Category:</label>
        <p-dropdown [options]="categories" formControlName="category" placeholder="Select a Category" [showClear]="true"></p-dropdown>
      </div>
    </div>

  <!--
<div class="form-group">
      <div class="field">
        <label for="status">Status:</label>
        <p-dropdown [options]="statues" formControlName="status" placeholder="Select a Status" [showClear]="true"></p-dropdown>

      </div>
    </div>

  -->
    

    <div class="p-field">
      <label for="bannerData" style="font-weight: bold;">Event Banner</label>
      <input type="file" (change)="onFileSelected($event)" pInputText>
      <img *ngIf="selectedEvent?.bannerUrl" [src]="selectedEvent?.bannerUrl" alt="Event Banner" style="width:100%; margin-top:10px;">
    </div>

    <div class="form-actions">
      <div class="flex flex-wrap gap-2">

      <button pButton type="button" label="Save" icon="pi pi-check" (click)="onSave()" class="p-button-rounded p-button-success p-button-outlined mr-2 btnsave"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="onCancel()" class="p-button-rounded p-button-success p-button-outlined mr-2 btncancel"></button>
    </div>
  </div>

  </form>
</p-dialog>
</div>
</div>







