th {
      font-size: 16px;
      font-weight: bold;
      color: black;
      text-align: center; /* Center the header titles */
    
      font-family: 'Times New Roman', serif;
    }
    tr:hover {
      background-color: #CFDBD5;
    }
    .buttonsd:hover{
      background-color: orangered;
color:black
    }
    .buttonsd{      
      color:orangered
    }

    .bold-dropdown .p-dropdown-label {
      font-weight: bold;
  }
  