th {
      font-size: 16px;
      font-weight: bold;
      color: black;
      text-align: center; /* Center the header titles */
    
      font-family: 'Times New Roman', serif;
    }
    tr:hover {
      background-color: wheat;
    }