<!-- Event List -->

<button pButton type="button" label="Go Back" class="p-button-info" icon="pi pi-arrow-left" (click)="GoBack()" ></button>


<div class="container">
  <div *ngFor="let event of events; let i = index"  class="card">
      <img class="card-img-top" [src]="event.bannerUrl || 'assets/default-image.jpg'" alt="Banner">
      <div class="card-body">
      <h5 class="card-title">{{ event.name }}</h5>
      <p class="card-text">{{ event.location }}</p>
      <p class="card-text"><small class="text-muted">{{ event.date | date }}</small></p>
        <button pButton type="button" label="View Details" (click)="selectEvent(event)"></button>
    </div>
  </div>
</div>

<!-- Event Details Dialog -->
<p-dialog header="Event Details" [(visible)]="displayDetailsDialog" [style]="{width: '40vw'}" [contentStyle]="{'padding': '24px'}" [baseZIndex]="1000">
  <ng-template pTemplate="content">
    <div *ngIf="selectedEvent" style="font-family: 'Arial', sans-serif; color: #333;">
    
      <h2 style="color: #0056b3; margin-bottom: 12px;">{{ selectedEvent.name }}</h2>
      <p><strong>Date:</strong> {{ selectedEvent.date | date:'fullDate' }}</p>
      <p><strong>Category:</strong> {{ selectedEvent.category }}</p>
      <p><strong>Location:</strong> {{ selectedEvent.location }}</p>
      <p><strong>Price:</strong> ${{ selectedEvent.price | number:'1.2-2' }}</p>
      <div style="border-top: 1px solid #ccc; padding-top: 10px;">
        <h4 style="color: #0056b3;">Description</h4>
        <p>{{ selectedEvent.description }}</p>
      </div>
    </div>
  </ng-template>
</p-dialog>
